@model PathoLab.Domain.DoctorMaster.Doctor
@{
    ViewData["Title"] = "ViewDoctor";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ResultData = ViewBag.Result as List<PathoLab.Domain.DoctorMaster.Doctor>;
}
<div class="page-title">
    <div class="title-details">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb p-0 mb-0 bg-transparent" id="navigation">
            </ol>
        </nav>
    </div>

</div>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-tabs nav-fill" role="tablist">
                    <a class="nav-item nav-link" asp-controller="DoctorMaster" asp-action="AddDoctor">Add</a>
                    <a class="nav-item nav-link active" asp-controller="DoctorMaster" asp-action="ViewDoctor">View</a>
                </ul>
            </div>
            <!-- Search Panel-->
            <div class="search-container">
                <div class="search-sec" style="display: block;">
                    <form method="post" id="indsearch">
                        <div class="form-group form-row">
                            <div class="col-12 col-md-6 col-xl-3">
                                <label class="control-label">Department Name</label>
                                <select class="form-control" id="ddlDepartment" asp-for="Department">
                                    <option value="Select">---Select---</option>
                                    <option value="Gynecologists">Gynecologists</option>
                                    <option value="Child Psychologist">Child Psychologist </option>
                                    <option value="Neurologist ">Neurologist </option>
                                    <option value="Dermatologist ">Dermatologist </option>
                                    <option value="Cardiologist ">Cardiologist </option>
                                    <option value="Dentist"> Dentist</option>
                                    <option value="Allergist"> Allergist</option>
                                    <option value="Pediatrician"> Pediatrician</option>
                                    <option value="Endocrinologist"> Endocrinologist</option>
                                    <option value="Audiologist"> Audiologist</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">
                                <label class="control-label">Designation</label>
                                <select class="form-control" id="ddlDesignation" asp-for="Designation">
                                    <option value="Select">---Select---</option>
                                    <option value="Professor">Professor</option>
                                    <option value="Assistant Professor">Assistant Professor </option>
                                    <option value="Medicine Specialist">Medicine Specialist</option>
                                </select>
                            </div>
                            <div class="col-12 col-md-6 col-xl-3">
                                <label class="control-label">Doctor Name</label>
                                <input class="form-control" id="txtDoctorName" asp-for="DoctorName" />
                            </div>
                            <div class="col-lg-2 ">
                                <button id="btnSearch" class="btn btn-primary mt-xl-4 mt-2"> <i class="fa fa-search"></i> Search</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="text-center"> <a class="searchopen" title="Search" data-toggle="tooltip" data-placement="bottom"> <i class="icon-angle-arrow-down"></i> </a></div>
            </div>

            <!-- Search Panel -->
            <!--===================================================-->
            <div class="card-body ">
                @if (ResultData != null && ResultData.ToList().Count > 0)
                {
                    <div class="table-responsive">
                        <table data-toggle="table" id="tblDoctor" class="table">
                            <thead>
                                <tr>
                                    <th width="60px" class="align-top text-center">Sl#</th>
                                    <th width="150px" class="align-top">
                                        Doctor Name
                                    </th>
                                    <th width="150px" class="align-top">
                                        Designation
                                    </th>
                                    <th width="150px" class="align-top">
                                        Department
                                    </th>
                                    <th width="150px" class="align-top">
                                        Hospital Name
                                    </th>
                                    <th width="150px" class="align-top">
                                        RegnNo
                                    </th>
                                    <th width="150px" class="align-top">
                                        Mobile No
                                    </th>
                                    <th width="150px" class="align-top">
                                        Fees
                                    </th>
                                    <th width="150px" class="align-top">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int count = 1;
                                }
                                @foreach (var list in ResultData)
                                {
                                    <tr>
                                        <td class="text-center">@count</td>
                                        <td>
                                            @list.DoctorName
                                        </td>
                                        <td>
                                            @list.Designation
                                        </td>
                                        <td>
                                            @list.Department
                                        </td>
                                        <td>
                                            @list.HospitalName
                                        </td>
                                        <td>
                                            @list.RegnNo
                                        </td>
                                        <td>
                                            @list.Mobile
                                        </td>
                                        <td>
                                            @list.Fees
                                        </td>
                                       
                                        <td>
                                            <a href="/DoctorMaster/AddDoctor?DoctorID=@Convert.ToString(list.DoctorID)" class="text-primary mr-3" title="" data-original-title="Edit"><i class="icon-edit1"></i></a>
                                            <a onclick="deleteDoctor('@list.DoctorID');" class="text-danger" title="" data-original-title="Delete"><i class="icon-trash-21"></i></a>
                                        </td>
                                    </tr>
                                    count++;
                                }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="norecord"> No Record Found</div>
                }
                <div class="clearfix col-sm-12"></div>
            </div>
            <!--===================================================-->
        </div>
    </div>
</div>
<script>
    function deleteDoctor(DoctorID) {
        if (confirm("Are you sure you want to delete ?")) {
            $.ajax({
                url: "/DoctorMaster/DeleteDoctor?DoctorID=" + DoctorID,
                type: "POST",
                dataType: "json",
                contentType: "application/json;charset=UTF-8",
                success: function (data) {
                    if (data == "3") {
                        alert("Doctor Deleted Successfully");
                        window.location.reload();
                    }
                    else if (data == "4") {
                        alert("Doctor Already In Use!");
                        window.location.reload();
                    }
                    else { }
                },
                error: function (error) {
                    jsonValue = jQuery.parseJSON(error.responseText);
                    bootbox.alert("Error : " + jsonValue);
                }
            });
        }
    }
</script>
